.left{
    position: absolute;
    width: 582px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #1773BC;
}

.right{
    display: flex;
    align-content: center ;
}

.right button{
    position: absolute;
    width: 164px;
    height: 48px;
    left: 1271px;
    top: 594px;
    background: #1773BC;
    color: white;
    border-radius: 10px;
    border-color: #1773BC;
}