.dashboardRightContainer {
  padding: 2rem;
}

.mainDiv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.sidebarContainer {
  background-color: #1773bc;
}

.rightContainer {
  flex: 1;
  background: rgba(23, 115, 188, 0.02);
}

.wrapperHeading {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.individualItemText {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
}

.individualItemImg {
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
}

.allItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 2.5rem;
  background: #FFFFFF;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0 0.625rem 0.625rem 0.625rem;
}

.individualItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.individualImgcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.81rem;
  width: 9.81rem;
  box-shadow: 0px 0px 0.31rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.62rem;
}

.headingText{
  
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1.75rem;
line-height: 2.12rem;

color: #1773BC;
}

.removeUnderline{
  text-decoration: none;
}
