.sidebar {
  width: "16%";
}

.sidebar-dataTable-wrapper {
  display: "flex";
  flex-direction: "row";
}

.mainDiv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.sidebarContainer{
  background-color: #1773bc;
}

.rightDiv {
  padding: 1.875rem;
  background-color: #F5F5F5;
  flex: 1;
}