.loginPage{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.leftDiv {
    width: 24%;
    background: #1773BC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 12rem;
}

.rightDiv {
    width: 70%;
    background: #F5F5F5;
}

.leftDivText {
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHeading {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 4.87rem;    
    color: #1773BC;
}

.subHeading1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 2.75rem;    
    color: #6E6F74;
    
}

.rightDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    background: #1773BC;
    border-radius: 0.625rem;
    border-color: #1773BC;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0.5rem 2rem;
}

.login-logo {
    height: 10rem;
    width: 10rem;
}

.dashboard-image{
    height: 50rem;
    width: 44rem;
}
