.sidebarOuterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.veersaLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #FFFFFF;
}

.veersaLogo {
  width: 20%;
  height: 43%
}

.sidebarWrapper {
  padding: 1rem 0;
  background-color: #1773bc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.sidebarItems {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  color: #FFFFFF;
}

.sidebarItemsSelected {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  color: #1773bc;
  background-color: #FFFFFF;
}

.itemImage {
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.itemName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}

.arrowIcon {
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  padding: 1rem 0;
}

.sidebarItems:hover {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  background-color: #FFFFFF;
  color: #1773bc;
}

.divider {
  margin: 1rem 0;
  border: 0.1rem solid #FFFFFF;
}
.veersaLogoContainer-collapse{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #1773bc;
}